include LICENSE.rst
include README.rst
include CHANGELOG.rst
include AUTHORS.rst
include Makefile
include requirements*.txt
recursive-include tests *py
recursive-exclude deprecated *
recursive-exclude docs *
recursive-exclude scripts *py
recursive-exclude notebooks *

exclude .gitmodules
exclude .landscape.yml
exclude .readthedocs.yaml
exclude CONTRIBUTING.rst
exclude conda-recipe/meta.yaml
exclude conftest.py
exclude environment.yml
